/* You can add global styles to this file, and also import other style files */
//@import "~@angular/material/prebuilt-themes/purple-green.css";
@import "variables";
@include mat-core();

$custom-typography: mat-typography-config(
  $font-family: '"Helvetica Neue",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif'
);

$argos-app-theme: mat-dark-theme($app-primary, $app-accent, $app-warn);
@include angular-material-theme($argos-app-theme);
@include angular-material-typography($custom-typography);


body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.argos-mat-div{
  background: mat-color($background, 'card');
}
.handle {
  outline: none;
  -webkit-user-select: none;
  user-select: none;
  z-index: 100;
  height: 5px;
  display: block;
  padding: 0;
  margin: 0;
  position: relative;
  line-height: 0;
}

.handle-row {
  transform: translateY(5vh) rotate(270deg);
  left: -10px;
  cursor: col-resize;
  width: 15px;
}

.handle-column {
  height: 15px;
  left: 50%;
  top: -4px;
  cursor: row-resize;
}

.container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.full-width {
  width: 100%;
}

.flex-spacer {
  flex: 1 1 auto;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.justify-content-center {
  justify-content: center;
}

.text-right {
  text-align: right;
}

.text-red {
  color: #F44336 !important;
}

.text-green {
  color: #4CAF50 !important;
}

.strip-margin {
  margin: 0;
}

.strip-padding {
  padding: 0;
}

.normal-margin-top-bottom {
  margin: 8px 0 8px 0;
}

